<% include ./partials/header %>
<h1>Choice category</h1>
<form action="/category" method="POST">
    <input type="text" name="category" placeholder="category">
    <input type="color" name="color" value="#ffff00">
    <input type="submit" value="Done!!">
</form>
<% include ./partials/footer %>